@model IEnumerable<WantSoraCoreMVC.Models.ForumCategory>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<div class="m-auto" style="width:350px">
    <hr />
    <h2 class="text-center text-dark-emphasis"><i class="bi bi-chat-square-text-fill"></i> WantWant討論版</h2>
    <hr />
</div>
<br />
<div class="container d-inline-flex column-gap-3 flex-wrap row justify-content-center align-items-center m-auto">


    @foreach (var item in Model)
    {
        <div style="width:350px">
            <a href="@Url.Action("PostList", "Forum", new { categoryId = item.CategoryId})" class="link-underline link-underline-opacity-0">
                <table class="table table-borderless table-hover">
                    <tr>
                        <td class="bg-primary-subtle rounded-4 text-center" height="180px"
                            style="background: radial-gradient(77.95% 77.95% at 74.66% 58.07%, rgba(255, 254, 220, 0.8) 0%, rgba(255, 255, 255, 0.152) 62.28%, rgba(255, 255, 255, 0) 100%), radial-gradient(89.67% 70.39% at 93.75% 92.16%, #64e0f1 0%, rgba(144, 160, 215, 0.49) 52.46%, rgba(255, 203, 203, 0) 100%), radial-gradient(68.86% 68.86% at 94.55% 1.7%, #fae6b4 0%, rgba(250, 220, 144, 0) 100%), linear-gradient(130.87deg, rgba(255, 170, 170, 0.78) 3.47%, rgba(245, 115, 122, 0) 77.25%); ">
                            <div class="h4 fw-bold text-dark-emphasis">@Html.DisplayFor(modelItem => item.Title)</div>
                            <div class="text-secondary-emphasis bg-body bg-opacity-75 p-1 border rounded-bottom-3" style="height:130px">@Html.DisplayFor(modelItem => item.Depiction)</div>
                        </td>

                    </tr>
                </table>
            </a>
        </div>



    }

</div>