@model IEnumerable<WantSoraCoreMVC.Models.ForumCategory>

@{
    ViewData["Title"] = "CategoryList";
}



<div class="m-auto" >
    <hr />
    <h2 class="text-center text-dark-emphasis"><i class="bi bi-chat-square-text-fill"></i> WantWant討論版</h2>
    <hr />
</div>
<br />
<div class="container d-inline-flex column-gap-3 flex-wrap row justify-content-center align-items-center m-auto">


    @foreach (var item in Model)
    {
        <div class="col-3">
            <a href="@Url.Action("PostList", "Forum", new { categoryId = item.CategoryId})" class="link-underline link-underline-opacity-0">
                <table class="table table-borderless table-hover">
                    <tr>
                        <td class="rounded-4 text-center" height="180px"
                            style="background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)">
                            <div class="h4 fw-bold text-dark-emphasis link-underline link-underline-opacity-0">@Html.DisplayFor(modelItem => item.Title)</div>
                            <div class="text-secondary-emphasis bg-white bg-opacity-75 p-1 border rounded-bottom-3 link-underline link-underline-opacity-0" style="height:130px">@Html.DisplayFor(modelItem => item.Depiction)</div>
                        </td>

                    </tr>
                </table>
            </a>
        </div>



    }

</div>