@model IEnumerable<wantSora.ForumCategory>

@{
    ViewBag.Title = "List";
}

<h2>WantWant討論版</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container d-inline-flex column-gap-3 flex-wrap row justify-content-center align-items-cente">


    @foreach (var item in Model)
    {
        <div style="width:350px">
            <table class="table table-borderless">
                <tr>
                    <td class="bg-primary bg-opacity-25 rounded-5 p-3 text-center" height="200px">
                        <div class="h4 fw-bold">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="text-body-secondary">@Html.DisplayFor(modelItem => item.Depiction)</div>
                    </td>

                </tr>
            </table>
        </div>

            }

    </div>

