
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row" style="height:300px">
    <div class="col-md-3 list-group custom-list-group" id="userPic" style="max-height: 100%; overflow-y: auto;">
        
    </div>
    <div class="col-md-9 card justify-content-end align-items-center" id="chatDetail">請選擇聊天對象以開始對話</div>
</div>

@section Scripts{
    <script>
        const userPic = document.querySelector('#userPic');
        async function loadUser() {
            const response = await fetch('@Url.Content("~/ChatApi/UserList/")');
            const data = await response.json();
            const user = data.map(u =>{
                const messageTime = new Date(u.latestMessage.created);//這個是以毫秒為單位
                const nowTime=new Date();
                const timeGap = nowTime - messageTime;
                const messageDate = messageTime.getDate();
                const currentDate = nowTime.getDate();

                let timeDisplay;
                if (currentDate === messageDate) 
                {
                    const options = { hour: 'numeric', minute: 'numeric', hour12: false };//24H制
                    timeDisplay = messageTime.toLocaleTimeString(undefined, options);
                }
                else if (timeGap < 1 * 24 * 60 * 60 * 1000) //24H*60M*60S 一天內但已經換日
                {
                    const options = { hour: 'numeric', minute: 'numeric', hour12: false };
                    timeDisplay = '昨天'+messageTime.toLocaleTimeString(undefined,options);
                }
                else if (timeGap < 3 * 24 * 60 * 60 * 1000) //三天內
                {
                    const days = Math.floor(timeGap / (24 * 60 * 60 * 1000));
                    timeDisplay = `${days} 天前`
                }
                else {//超過三天
                    const options = { month: 'numeric', day: 'numeric' };
                    timeDisplay = messageTime.toLocaleDateString(undefined, options);
                }

                const chatLink=document.createElement('a');//自動生成的a標籤
                chatLink.href='#';
                chatLink.classList.add('chatLink', 'link-underline', 'link-underline-opacity-0');
                chatLink.setAttribute('inChatWithId', u.accountId);//與誰聊天
                chatLink.setAttribute('inPage', '1');
                chatLink.innerHTML = //裡面包的html
                `<div class="list-group-item list-group-item-action list-group-flush d-flex align-items-center" style="height:100px">
                     <img src="data:image/png;base64,${u.memberPhoto}" class="rounded-circle img-thumbnail user-image col-2 ">
                         <div class="col-10 mx-2">
                              <span class="">${u.name}</span> <span class="small float-end">${timeDisplay}</span>
                              </br>
                              <span class="small">${u.latestMessage.message}</span>
                           </div>
                 </div>`;

                //點下聊天對象監聽器
                chatLink.addEventListener('click', async (event) => {
                    event.preventDefault();//防止連結預設的#
                    const jsChatWithId = chatLink.getAttribute('inChatWithId')
                    const jsPage = chatLink.getAttribute('inPage');
                    const currentLoginId = @Html.Raw(Json.Serialize(ViewBag.currentLoginId));
                    console.log(currentLoginId)
                    const response = await fetch(`@Url.Content("~/ChatApi/ChatDetail")?chatWithId=${jsChatWithId}&page=${jsPage}`);

                    const chatDetailData = await response.json();

                    const chatDetailDiv = document.querySelector('#chatDetail');
                    chatDetailDiv.innerHTML = ''; // 清空原內容
                    chatDetailData.map(chat => {
                        const chatMessage = document.createElement('span');
                        chatMessage.textContent = chat.message; // 使用 API 回傳的聊天訊息資料
                        if (chat.receiverId === currentLoginId) {
                            chatMessage.classList.add('message-left', 'chat-bubble');
                        }
                        else{
                            chatMessage.classList.add('message-right', 'chat-bubble');

                        }
                        chatDetailDiv.appendChild(chatMessage);
                    })
                })

                userPic.appendChild(chatLink);
            
            })
        }          

            loadUser()
    </script>
}

@section Styles{
    <style>
        ::-webkit-scrollbar { /* 調整捲軸寬度 */
            width: 8px;
        }

        ::-webkit-scrollbar-thumb { /* 調整捲軸拉把部分 */
            background: #ddd;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track { /* 調整捲軸滑軌部分 */
            background: #f1f1f1;
            border-radius: 10px;
        }

        .custom-list-group {
            padding-right: 0; /* 調整list-group 右側padding的空間 */
        }

        .user-image {
            max-width: 50px; /* 最大寬度 */
            max-height: 50px; /* 最大高度 */
        }

        .chat-bubble {
            border-radius: 5px;
            display: inline-block;
            padding: 10px 18px;
            position: relative;
            margin: 10px;
            max-width: 300px;
        }

        .message-left {
            float: left;
            position: relative;
            background: #cdd5d6;
            border-radius: .4em;
        }

      .message-left::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-right-color: #cdd5d6;
                border-left: 0;
                border-bottom: 0;
                margin-top: -5px;
                margin-left: -10px;
        }

        .message-right {
            float: right;
            position: relative;
            background: #9ad2da;
            border-radius: .4em;
        }

            .message-right::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            float: right;
            border: 10px solid transparent;
            border-left-color: #9ad2da;
            border-right: 0;
            border-bottom: 0;
            margin-top: -5px;
            margin-right: -10px;
        }

        .chat{
            width: 50%;
            height: 320px;
        }



    </style>
}